# Build & Output
/dist
/build
.medusa
.next/
/uploads
/static

# Dependencies
node_modules/
.yarn/

# Environment files
.env
.env.server
.env.test
.env.template
.env.production.example
env.txt

# Logs
yarn-error.log
npm-debug.log*
*.log

# Database dumps, Excel files, and text reports
*.sql
*.xlsx
*.csv
*.ndjson
*.pdf
*.txt
*_report.txt

# Editor & OS files
.DS_Store
src/.DS_Store
.idea/
.vscode/

# Temporary work & recovery folders
scratch/
recovery/

# TypeScript build cache
./tsconfig.tsbuildinfo
package-lock.json

# Certificates
localhost+1-key.pem
localhost+1.pem
Caddyfile
medusa-config.server.js
rename.js

# Specific overrides
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!src/**
