name: Build Image Conversion Runner

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - "scripts/image-conversions/**"
      - ".github/workflows/image-conversion-image.yml"
      - "docker/image-conversion/**"

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set image tag
        run: echo "IMAGE_TAG=ghcr.io/${{ github.repository_owner }}/backend-arohahouse/image-conversion:latest" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push container
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/image-conversion/Dockerfile
          push: true
          tags: ${{ env.IMAGE_TAG }}